@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.img1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    background-size: cover;
    font-family: "Roboto";
    color: white;
    height: 100vh;
}

.container-element {
    background-color: #323f4b;
    height: 50px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    font-style: bold;
}

.one1 {
    margin-bottom: 5px;
    margin-top: 40px;
}

.me {
    background-color: #47a3f3;
    padding: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: right;
}

.you {
    background-color: #52606d;
    padding: 14px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 8px;
    margin-left: 8px;
}